<a href="https://colab.research.google.com/github/Gyunnni/SM12/blob/master/ch02/ch2_04_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ch2_04_list.py

## 여러 가지 리스트

In [0]:
print("리스트: list 란?")
odd = [1, 3, 5, 7, 9]

a = []  # list 초기화
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]
print(odd)
print(b)
print(c)
print(d)
print(e)
a = list()
print(a)   # []

리스트: list 란?
[1, 3, 5, 7, 9]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]
[]

##리스트: 리스트의 인덱싱과 슬라이싱

In [0]:
a = [1, 2, 3]
print(a)
print(a[0])
#print(a[3]) --> 없으므로 오류가 발생!
print(a[0]+a[2])
print(a[-1])

[1, 2, 3]
1
4
3

In [0]:
a = [1, 2, 3, ['a', 'b', 'c']]
print(a[0])
print(a[3])
print(a[-1])
# chaek this: a[0] + a[-1] -> TypeError
# Indexing inner list
print(a[-1][0])
print(a[-1][-1])

1
['a', 'b', 'c']
['a', 'b', 'c']
a
c

## Indexing of triple list
## 삼중 리스트에서 인덱싱하기

In [0]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
print(a[2])
print(a[2][-1])
print(a[2][-1][0])   # 'Life'
#

['a', 'b', ['Life', 'is']]
['Life', 'is']
Life

## 리스트의 슬라이싱

In [0]:
a = [1, 2, 3, 4, 5]
print(a[0:2])
a = "12345"
print(a[0:2])
#
a = [1, 2, 3, 4, 5]
print(a[0:2])
print(a[2:])
print(a[0:4:2])  # a[start:end:step]

[1, 2]
12
[1, 2]
[3, 4, 5]
[1, 3]

## 중첩된 리스트에서 슬라이싱하기

In [0]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
print(a[2:5])
print(a[3][:2])

[3, ['a', 'b', 'c'], 4]
['a', 'b']

## 리스트: 인덱싱, 슬라이싱 연습

In [0]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(x[0:3])
print(x[3:])
print(x[:6])
print(x[0:6:2])  # x[:6:2]
print(x[-1])
print(x[-3])
print(x[:-3])
print(x[::-1])
print(x[-3::-1])

[1, 2, 3]
[4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6]
[1, 3, 5]
9
7
[1, 2, 3, 4, 5, 6]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[7, 6, 5, 4, 3, 2, 1]

##리스트: 리스트 연산하기

### 리스트 더하기(+)

In [0]:
a = [1, 2, 3]
b = [4, 5, 6]
print(a + b)

[1, 2, 3, 4, 5, 6]

### 리스트 반복하기(*)

In [0]:
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 리스트 길이구하기

In [0]:
len(a)

3

## 초보자가 범하기 쉬운 리스트 연산 오류

In [0]:
a = [1, 2, 3]
#print(a[2] + "hi")배열과 문자열은 더하지 못하므로 오류 발생!
str(a[2]) + "hi"

'3hi'

## 리스트의 수정과 삭제

In [0]:
a = [1, 2, 3]
a[2] = 4  # list is mutable!!!
a

[1, 2, 4]

## del 함수 사용해 리스트 요소 삭제하기

In [0]:
a = [1, 2, 3]
del a[1]
print(a)
a = [1, 2, 3, 4, 5]
del a[2:]
print(a)

"""
Author: redwoods
파이썬 코드: ch2_04_list.py
"""

[1, 3]
[1, 2]

'\nAuthor: redwoods\n파이썬 코드: ch2_04_list.py\n'