<a href="https://colab.research.google.com/github/Gyunnni/SM12/blob/master/ch04/ch4_01_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## ch4_01_function.py

### 함수란 무엇인가?

입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것

### 함수를 사용하는 이유는 무엇일까?

반복되는 부분을 함수로 전환.코딩을 모듈화

### 파이썬 함수의 구조

In [1]:
"""
def 함수명(매개변수):
    <수행할 문장1>
    <수행할 문장2>
    ...
"""

'\ndef 함수명(매개변수):\n    <수행할 문장1>\n    <수행할 문장2>\n    ...\n'

### add() 함수를 정의

In [0]:
def add(a, b): 
    return a + b

### add() 함수를 사용

In [3]:
a=3
b=4
c=add(a,b)
print(c)

7

In [4]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

[1, 2, 3, 4, 5, 6]

### 매개변수와 인수릐 차이를 이해하자!

매개변수는 함수에 입력으로 전달된 값을 받는 변수
인수는 함수를 호출할 때 전달하는 입력값을 의미

### add() 함수에서의 매개변수와 인수

In [0]:
"""
def add(a, b):  # a, b는 매개변수
    return a+b

print(add(3, 4))  # 3, 4는 인수

"""

### 입력값과 결괏값에 따른 함수의 형태

입력값 ---> 함수 ----> 결괏값

### 일반적인 함수,입력값과 결괏값이 있는 함수

In [0]:
"""
def 함수이름(매개변수):
    <수행할 문장>
    ...
    return 결과값
"""

In [0]:
def add2(a, b): 
    result = a + b 
    return result

### 입력값과 결괏값이 있는 함수의 사용법

결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)

In [6]:
a = add2(3, 4)
print(a)

7

### 입력값이 없는 함수

In [0]:
def say(): 
    return 'Hi'

### 입력값이 없는 함수의 사용법

결괏값을 받을 변수 = 함수이름()

In [8]:
a = say()
print(a)

Hi

### 결괏값이 없는 함수

In [0]:
def add3(a, b): 
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))

### 결괏값이 없는 함수의 사용법

함수이름(입력인수1, 입력인수2, ...)

In [10]:
add3(3, 4)

3, 4의 합은 7입니다.

### 다음 결과는 무엇인가?

In [11]:
a = add3(3, 4)
print(a)

3, 4의 합은 7입니다.
None

### 입력값도 결괏값도 없는 함수

함수이름()

In [12]:
say()

'Hi'

### 매개변수의 값을 지정하여 호출하기

In [0]:
def add4(a, b):
    return a+b

In [14]:
result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result)

10

### 매개변수의 순서에 상관없이 사용

In [15]:
result = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result)

8

### 입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [0]:
"""
def 함수이름(*매개변수): 
    <수행할 문장>
    ...
"""

In [0]:
def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result

In [17]:
add_many(1, 2, 3)
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

### 여러 개의 입력을 처리하는 함수(*args)

In [0]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result

####  add

In [19]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

#### multiply

In [20]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

### 키워드 파라미터 kwargs

In [0]:
def print_kwargs(**kwargs):
    print(kwargs)

###  print_kwargs 함수는 매개변수 kwargs를 출력하는 함수

In [22]:
print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

**kwargs처럼 매개변수 이름 앞에 **을 붙이면 매개변수 
kwargs는 딕셔너리가 되고 모든 key=value 형태의 결괏값이 
그 딕셔너리에 저장된다.

### 함수의 결괏값은 언제나 하나

In [0]:
def add_and_mul(a,b): 
    return a+b, a*b

#### add_and_mul() 사용 1.

In [24]:
result = add_and_mul(3,4)

print(result)

(7, 12)

#### add_and_mul() 사용 2.

In [25]:
result1, result2 = add_and_mul(3, 4)

result1, result2

(7, 12)

### 잘못된 함수

In [27]:

"""

def add_and_mul2(a,b): 
    return a+b 
    return a*b  # Not working!!
   
"""

'\n\ndef add_and_mul2(a,b): \n    return a+b \n    return a*b  # Not working!!\n   \n'

In [29]:

"""

result = add_and_mul2(2, 3)
print(result)

"""

'\n\nresult = add_and_mul2(2, 3)\nprint(result)\n\n'

### return 의 용도: 함수 실행 종료

In [0]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)

In [34]:
say_nick("홍길동")

나의 별명은 홍길동 입니다.

In [0]:
say_nick("바보")

### 매개변수에 초깃값 미리 설정하기

In [0]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [37]:
say_myself("박응용", 27)
say_myself("박응용", 27, True)

say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.
나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

In [0]:
"""
def say_myself2(name, man=True, old): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.") 
    else:
        print("여자입니다.")
    


"""

초깃값을 설정해 놓은 매개변수 뒤에 
초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다
초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.

### 함수 안에서 선언한 변수의 효력 범위

전역변수
지역 변수, 자동 변수

#### vartest.py

In [0]:
a = 1
def vartest(a):
    a = a +1

In [39]:
vartest(a)
print(a)

1

#### vartest_error.py

In [0]:
def vartest2(z):
    z = z + 1

In [41]:
vartest2(3)
print(z)  # Error

[1, 2, 3, 4, 5, 6]

### 함수 안에서 함수 밖의 변수를 변경하는 방법
return 사용
global 변수 사용

#### 1. return 사용하기

In [0]:
a = 1 
def vartest3(a): 
    a = a +1 
    return a

In [43]:
a = vartest3(a) 
print(a)

2

#### 2. global 명령어 사용하기

In [0]:
a = 1 
def vartest4(): 
    global a 
    a = a+1

In [45]:
vartest4() 
print(a)

2

### lambda
lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
보통 함수를 한줄로 간결하게 만들 때 사용한다.

#### lambda 사용법

ambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식

### lambda를 이용한 add 함수

In [46]:
add = lambda a, b: a+b

result = add(3, 4)
print(result)

7

lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

#### lambda 함수의 응용

In [47]:
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])

['N-1000', 'T-2000', 'K-3000', 'X-5000']